<div class="container">
  <div class="row login justify-content-center">
    <div class="col-6 align-self-center text-center box p-5">
      <div>
        <div>
          <p *ngIf="message" class="text-danger">{{message}}</p>
        </div>
        <form [formGroup]="adminForm" (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label for="InputUsername" class="form-label text-white" >Username</label>
            <input type="text" class="form-control" id="InputUsername" formControlName="username">
          </div>
          <div class="mb-3">
            <label for="InputPassword" class="form-label text-white">Password</label>
            <input type="password" class="form-control" id="InputPassword" formControlName="password">
          </div>
          <button type="submit" class="btn btn-primary">Connect</button>
        </form>
      </div>
    </div>
  </div>
</div>
