<div id="title">
  <div class="text-white text-center">
    <h1>Dashboard</h1>
  </div>
  <nav>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" aria-current="page" routerLink="../..">Home</a>
    </li>
    <li class="nav-item dropdown active">
      <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false">Projects</a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" routerLink="..">Add a project</a></li>
        <li><a class="dropdown-item" routerLink="../new-github">Add from github</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" routerLink="..">See projects</a></li>
      </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled">Logout</a>
    </li>
  </ul>
  </nav>
</div>
<div class="container my-5">
  <div class="row login justify-content-center">
    <div class="col-6 align-self-center text-center box p-5">
      <div>
        <div>
          <p *ngIf="message" class="text-danger">{{message}}</p>
        </div>
        <form [formGroup]="newForm" (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label for="InputTitle" class="form-label text-white" >Title *</label>
            <input type="text" class="form-control" id="InputTitle" formControlName="title">
          </div>
          <div class="mb-3">
            <label for="InputShortDesc" class="form-label text-white">Short description *</label>
            <input type="text" class="form-control" id="InputShortDesc" formControlName="short_desc">
          </div>
          <div class="mb-3">
            <label for="InputGroups" class="form-label text-white">Groupes * (séparés par des virgules)</label>
            <input type="text" class="form-control" id="InputGroups" formControlName="groups">
          </div>
		      <div class="mb-3">
            <label for="InputImage" class="form-label text-white">link to an image</label>
            <input type="text" class="form-control" id="InputImage" formControlName="image">
          </div>
          <div class="mb-3">
            <label for="InputGihub" class="form-label text-white">link to github</label>
            <input type="text" class="form-control" id="InputGithub" formControlName="github">
          </div>
          <div class="mb-3">
            <label for="InputDesc" class="form-label text-white">Description *</label>
            <textarea type="text-area" class="form-control" id="InputDesc" formControlName="desc" rows="6"></textarea>
            <p class="text-secondary">* : required fields</p>
          </div>
          <button type="submit" class="btn btn-primary">Enregistrer</button>
        </form>
      </div>
    </div>
  </div>
</div>
