.main {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100dvh;
	border-collapse: collapse;
	background-color: var(--background-color, blue);
	scroll-snap-align: start;
	position: relative;
}

#container {
	height: 100dvh;
	scroll-snap-type: y mandatory;
	overflow-y: scroll;
}

.HeroLogo {
	height: 80vh;
	width: auto;
}

.next {
	position: absolute;
	bottom: 0px;
	color: var(--text-color);
	animation: infinite linear 2s nextText;
	font-size: 40px;
	text-align: center;
}

.next img {
	height: 30px;
	width: auto;
	fill: var(--text-color);
	position: relative;
	bottom: 10px;
	margin: auto;
}

@keyframes nextText {
	50% {transform: translatey( 10px );}
}

.title {
	position: absolute;
	top: 20px;
	height: 100px;
	border: 10px solid var(--accent-color);
	width: auto;
	padding: 30px;
	border-radius: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 5px 5px 20px 7px var(--accent-color), inset 5px 5px 20px 2px var(--accent-color);
}

.title h1{
	font-size: 50px;
	color: var(--accent-color);
	font-family: "Pacifico", cursive;
	font-weight: 400;
	font-style: normal;
	text-shadow: var(--accent-color) 5px 5px 50px;
}

#myLife {
	width: 70dvw;
	height: 350px;
	border-radius: 50px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

#myLifeImg {
	height: 350px;
	width: 30%;
}

#myLifeImg img{
	height: 350px;
	width: 100%;
}

#myLifeText {
	height: 100%;
	width: 70%;
	color: var(--text-color);
	display: flex;
	justify-content: center;
	align-items: center;
}

#myLifeText p{
	margin: 20px;
	padding: 20px;
	font-size: 30px;
	border-left: 7px solid var(--accent-color);
}

#mainAboutMe {
	flex-direction: column;
}

