.main {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100dvh;
}

.HeroLogo {
	height: 80vh;
	width: auto;
}

.next {
	position: absolute;
	bottom: 0px;
	color: var(--text-color);
	animation: infinite linear 2s nextText;
	font-size: 60px;
	text-align: center;
}

.next img {
	height: 30px;
	width: auto;
	fill: var(--text-color);
	position: relative;
	bottom: 10px;
	margin: auto;
}

@keyframes nextText {
	0% {bottom: 0px;}
	50% {bottom: 10px;}
}

.title {
	height: 200px;
	border: 10px solid var(--accent-color);
	width: 400px;
	border-radius: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 5px 5px 50px 15px var(--accent-color), inset 5px 5px 50px 5px var(--accent-color);
}

.title h1{
	font-size: 75px;
	color: var(--accent-color);
	font-family: "Pacifico", cursive;
	font-weight: 400;
	font-style: normal;
	text-shadow: var(--accent-color) 5px 5px 50px;
}

#myLife {
	margin-top: 200px;
	width: 70dvw;
	height: 350px;
	border-radius: 90px;
	padding: 0;
	display: flex;
	flex-direction: row;
}

#myLifeImg {
	height: 350px;
	width: 30%;
	background-color: #bbb;
}
#myLifeImg img{
	height: 350px;
	width: 100%;
}


#myLifeText {
	height: 100%;
	background-color: var(--secondary-color);
	width: 70%;
	color: var(--text-color);
}


.mainAboutMe {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100dvh;
	flex-direction: column;
}
