/* You can add global styles to this file, and also import other style files */
html, body{
  background-color: #000;
  min-height: 1vh;
}
.box{
  background-color: #252525;
}
#title {
  background-color: #252525;
}
