<div *ngIf="!project">
  <p class="text-white">404 NOT FOUND</p>
</div>
<div class="container box text-white my-5 p-5" *ngIf="project">
  <a class="goBack" routerLink="/">ᐊ go back</a>
  <div class="row my-5">
    <h1 class="text-center">{{project.title}}</h1>
  </div>
  <div class="row">
    <h2 class="py-3">Description</h2>
    <p class="text-break">{{project.description}}</p>
  </div>
  <div class="justify-item-center row">
    <a class="btn btn-primary my-5 col-2" *ngIf="project.github_link" href="{{project.github_link}}">See on github</a>
  </div>
  <div class="row py-5 my-5">
    <h2>Comments</h2>
    <form [formGroup]="form" (ngSubmit)="onComment()">
      <div class="form-group col-3">
        <p class="text-danger" *ngIf="error">{{error}}</p>
        <p class="text-success" *ngIf="success">{{success}}</p>
        <label class="form-label" for="username">Username</label>
        <input class="form-control" formControlName="username" id="username" type="text" class="form-control" placeholder="Username">
      </div>
      <div class="form-group col-12">
        <label class="form-label" for="comment">Comment</label>
        <textarea class="form-control" formControlName="comment" rows="5" id="comment" type="text" class="form-control"></textarea>
      </div>
      <input type="submit" class="btn btn-primary my-2" value="Submit">
    </form>
  </div>
  <div *ngIf="!comments[0]" class="row my-5">
    <p class="text-center">No comments yet</p>
  </div>
  <div class="row my-5 comment" *ngFor="let comment of comments.reverse()">
    <div class="col-6 my-3">
      <h3>{{comment.username | lowercase}}</h3>
      <p class="text-secondary">{{comment.date | date}}</p>
    </div>
    <p class="text-break">{{comment.comment}}</p>
  </div>
</div>
