<div id="title" class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center text-white">Portfolio of RoyaLProg</h1>
      <p class="text-center fst-italic text-secondary">
        a 42 student
      </p>
    </div>
  </div>
</div>
<div class="container mt-5 box p-5">
  <div class="row justify-content-center">
    <div class="col-6">
      <h2 class="text-center text-white">
          About me
      </h2>
      <p class="text-white">
        Hello, my name is Camille CAMBIUM, I'm 19 y/o, i'm currently student at 42 Paris.<br>
        I like to code while listening to music.<br>
        In my free time, i like to play videogames.<br>
        My favorite music artists are : Madeon, Moe Shop, Skrillex, Knife Party, and more.<br>
        My favorite videogames are : Counter Strike, Valorant, League of legends, Forza Horizon and Euro Truck Simulator.<br>
      </p>
    </div>
  </div>
</div>
<div class="container mt-5 box">
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-center text-white">
          My skills
      </h2>
      <p class="text-secondary text-center fst-italic">Note : they will never be 100%, there is always something new to learn</p>
      <div class="row text-white  align-self-center">
        <div class="col-md-1 mx-5">
          <label>C</label>
          <progress max="100" value="70"> - 70% </progress>
        </div>
        <div class="col-md-1 mx-5">
          <label>C++</label>
          <progress max="100" value="65"> - 65% </progress>
        </div>
        <div class="col-md-1 mx-5">
          <label>Javascript</label>
          <progress max="100" value="55"> - 55% </progress>
        </div>
        <div class="col-md-1 mx-5">
          <label>Typescript</label>
          <progress max="100" value="55"> - 55% </progress>
        </div>
        <div class="col-md-1 mx-5">
          <label>Angular</label>
          <progress max="100" value="45"> - 45% </progress>
        </div>
        <div class="col-md-1 mx-5">
          <label>NestJS</label>
          <progress max="100" value="45"> - 45% </progress>
        </div>
        <div class="col-md-1 mx-5">
          <label>NodeJS</label>
          <progress max="100" value="45"> - 45% </progress>
        </div>
        <div class="col-md-1 mx-5">
          <label>Python</label>
          <progress max="100" value="70"> - 70% </progress>
        </div>
        <div class="col-md-1 mx-5">
          <label>HTML&CSS</label>
          <progress max="100" value="70"> - 70% </progress>
        </div>
        <div class="col-md-1 mx-5">
          <label>PHP</label>
          <progress max="100" value="65"> - 65% </progress>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container mt-5 box">
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-center text-white">
          My Projects
      </h2>
      <select #projectSelect (change)="null">
        <option value="All">All</option>
        <option *ngFor="let group of groups" [value]="group">{{group}}</option>
      </select>
      <div id="projectContainer">
        <div class="row">
          <div class="col-3 card project text-white m-3 p-0" style="width: 18rem;" *ngFor="let project of projects | projectFilter:projectSelect.value">
            <img src="{{project.image}}" class="card-img-top" alt="{{project.title}}">
            <div class="card-body">
              <h5 class="card-title">{{project.title}}</h5>
              <p class="card-text">{{project.short_desc}}</p>
              <a class="btn btn-primary">see project</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
