<div class="container" *ngIf="!Repos[0]">
  <div class="row box justify-content-center m-5">
    <div class="col-7 self-align-center m-5 p-5">
      <div class="alert-danger" *ngIf="error">
        {{error}}
      </div>
      <form class="d-flex">
          <input #username class="form-control me-2" type="search" placeholder="Github Username" aria-label="Search">
          <button class="btn btn-outline-success" type="submit" (click)="onSearch(username.value)">Search</button>
      </form>
    </div>
  </div>
</div>
<div class="container" *ngIf="Repos[0]">
  <div class="row box justify-content-center m-5">
    <div class="alert-danger" *ngIf="error">
      {{error}}
    </div>
    <div class="alert-succes" *ngIf="success">
      {{success}}
    </div>
    <div class="card col-3 p-2 m-3 project text-white" *ngFor="let Repo of Repos">
      <div class="card-body">
        <h5 class="card-title">{{Repo.name}}</h5>
        <p class="card-text word-break">{{Repo.description}}</p>
        <a class="btn btn-primary m-1 align-bottom" (click)="onAdd(Repo)">Add</a>
        <a href="{{Repo.html_url}}" class="btn btn-primary m-1 align-bottom">See on Github</a>
      </div>
    </div>
  </div>
</div>
